<div class="page-header">
  <%= link_to new_user_order_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New User order
  <% end %>
  <h1>Listing user_orders</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Order number</th>
            <th>Table booking</th>
            <th>User</th>
            <th>Order amount</th>
            <th>Order date</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @user_orders) do |user_order| %>
            <td><%= user_order.order_number %></td>
            <td><%= user_order.table_booking_id %></td>
            <td><%= user_order.user_id %></td>
            <td><%= user_order.order_amount %></td>
            <td><%= user_order.order_date %></td>
            <td><%= link_to 'Show', user_order %></td>
        <td><%= link_to 'Edit', edit_user_order_path(user_order) %></td>
        <td><%= link_to 'Destroy', user_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
