<div class="page-header">
  <%= link_to new_table_video_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Table video
  <% end %>
  <h1>Listing table_videos</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Url</th>
            <th>Video type</th>
            <th>Table</th>
            <th>Status</th>
            <th>Creator</th>
            <th>Modifier</th>
            <th>Create time</th>
            <th>Modified time</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @table_videos) do |table_video| %>
            <td><%= table_video.name %></td>
            <td><%= table_video.description %></td>
            <td><%= table_video.url %></td>
            <td><%= table_video.video_type %></td>
            <td><%= table_video.table_id %></td>
            <td><%= table_video.status %></td>
            <td><%= table_video.creator_id %></td>
            <td><%= table_video.modifier_id %></td>
            <td><%= table_video.create_time %></td>
            <td><%= table_video.modified_time %></td>
            <td><%= link_to 'Show', table_video %></td>
        <td><%= link_to 'Edit', edit_table_video_path(table_video) %></td>
        <td><%= link_to 'Destroy', table_video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
