<%= form_for(@restaurant, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @restaurant.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h4>

      <ul>
      <% @restaurant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :user_id, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :user_id, User.all.collect {|p| [ p.name, p.id ] }, { include_blank: true }, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :name, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :brand_logo_url, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :brand_logo_url, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :description, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :owner_name, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :owner_name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :owner_contact_no, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :owner_contact_no, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :owner_address, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :owner_address, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :status, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :status, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :creator_id, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :creator_id, User.all.collect {|p| [ p.name, p.id ] }, { include_blank: true }, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :modifier_id, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :modifier_id, User.all.collect {|p| [ p.name, p.id ] }, { include_blank: true }, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
