<div class="page-header">
  <%= link_to new_restaurant_floor_plan_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Restaurant floor plan
  <% end %>
  <h1>Listing restaurant_floor_plans</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Restaurant</th>
            <th>Type</th>
            <th>Status</th>
            <th>Creator</th>
            <th>Modifier</th>
            <th>Create time</th>
            <th>Modified time</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @restaurant_floor_plans) do |restaurant_floor_plan| %>
            <td><%= restaurant_floor_plan.restaurant_id %></td>
            <td><%= restaurant_floor_plan.type %></td>
            <td><%= restaurant_floor_plan.status %></td>
            <td><%= restaurant_floor_plan.creator_id %></td>
            <td><%= restaurant_floor_plan.modifier_id %></td>
            <td><%= restaurant_floor_plan.create_time %></td>
            <td><%= restaurant_floor_plan.modified_time %></td>
            <td><%= link_to 'Show', restaurant_floor_plan %></td>
        <td><%= link_to 'Edit', edit_restaurant_floor_plan_path(restaurant_floor_plan) %></td>
        <td><%= link_to 'Destroy', restaurant_floor_plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
